<style>
	.icecream {
		width: 150px;
		height: 150px;
		color: lightcyan;
		background-color: #211954;
		margin: 1em;
		padding: 1em;
		list-style: none;
		font-family: Arial, Helvetica, sans-serif;
		float: left;
	}
</style>

<ul>
	<li class="icecream">
		<p>{{name}}</p>
		<p>{{price}}</p>
		<p>{{awesomeness}}</p>
	</li>
</ul>
