<h1>Day Planner</h1>

<ul>
  {{#each plans}}
    <li>
      <p>
        {{this.id}}. {{this.plan}}

        <form action="/{{this.id}}?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Delete Plan!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Create a Plan</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Plan!</button>
</form>

<h2>Update a Plan</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="plan" placeholder="plan"></textarea>
	<button type="submit">Update Plan!</button>
</form>
