<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->
<ul>
  {{#each anims}}
    <li>
      <p>Type: {{animalType}}</p>
      <p>Pet: {{pet}}</p>
      <p>Fierceness: {{fierceness}}</p>
    </li>
  {{/each}}
</ul>
