body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 18px;
  color: #333333;
  line-height: 150%;
  background: #efeee7;
}

header {
  background: #d21034;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #333333;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}