/**
 * Float Stylesheet
 **/

/* content1 starts the float and will rest at the top-left corner of its enclosing element */
.content1 {
	float: left;
	margin-right: 10px;
}

/* content2 continues the left float; it will sit at the right side of content1 */
.content2 { float: left; }

/* copyright stops or 'clears' the float */
 .copyright { clear: both; }