/**
 * Relative Position: sets boxes relative to its original location
 * (i.e. below or left of where the element would normally be)
 **/

.box-set {
  background: #eaeaed;
}

.box {
  /* relative positioning */
  position: relative;
  height: 80px;
  width: 80px;
  background: #2db34a;
}

.box-1 {
  top: 20px;
}

.box-2 {
  left: 40px;
}

.box-3 {
  bottom: -10px;
  right: 20px;
}