#container {
  position: absolute;
  top: 300px;
  left: 500px;
}

h2 {
  font-size: 50px;
}

div {
  text-align: center;
}

.band-image {
  width: 250px;
  height: 200px;
  border-radius: 25px;
}

#band-div {
  width: 300px;
  padding: 20px;
  margin-left: 10px;
}

#game-section {
  width: 300px;
  height: 750px;
  float: left;
  padding: 20px;
  border: 7px dotted #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #f5f5f5, 0 3px 0 0 #f5f5f5;
  margin-bottom: 50px;
}